.desktop1-desktop1 {
  width: 100%;
  height: 5244px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 113px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text {
  top: 37px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-barradiricerca1 {
  top: 26px;
  left: 775px;
  width: 638px;
  height: 61px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text02 {
  top: 38px;
  left: 834px;
  color: rgba(0, 0, 0, 1);
  width: 322px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-rectangle2 {
  top: 5037px;
  left: 0px;
  width: 1440px;
  height: 207px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text07 {
  top: 5116px;
  left: 54px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text09 {
  top: 5116px;
  left: 720px;
  color: rgba(255, 255, 255, 1);
  width: 525px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-tiktok1 {
  top: 5073px;
  left: 954px;
  width: 130px;
  height: 126px;
  position: absolute;
  border-color: transparent;
}
.desktop1-instagram-logosu1 {
  top: 5073px;
  left: 1084px;
  width: 148px;
  height: 135px;
  position: absolute;
  border-color: transparent;
}
.desktop1-iconafb1 {
  top: 5073px;
  left: 1209px;
  width: 176px;
  height: 122px;
  position: absolute;
  border-color: transparent;
}
.desktop1-southafricanfoodsouthafricanrecipes11 {
  top: 456px;
  left: 230px;
  width: 350px;
  height: 427px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text11 {
  top: 456px;
  left: 678px;
  color: rgba(255, 255, 255, 1);
  width: 634px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-laricettadeibaghrirmarocchini7scaled11 {
  top: 1273px;
  left: 230px;
  width: 350px;
  height: 451px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text13 {
  top: 1295px;
  left: 670px;
  color: rgba(255, 255, 255, 1);
  width: 650px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-fluffymasarecipemainphoto11 {
  top: 2114px;
  left: 230px;
  width: 350px;
  height: 460px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text15 {
  top: 2140px;
  left: 678px;
  color: rgba(255, 255, 255, 1);
  width: 650px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text17 {
  top: 2982px;
  left: 670px;
  color: rgba(255, 255, 255, 1);
  width: 731px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-teieratmarocchino111 {
  top: 2964px;
  left: 230px;
  width: 350px;
  height: 477px;
  position: absolute;
  border-color: transparent;
}
.desktop1-image635pxafricancontinentitsvg1 {
  top: 3660px;
  left: 60px;
  width: 1325px;
  height: 1256px;
  position: absolute;
  border-color: transparent;
}
